<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="bndtools.serviceWizardCategory/org.eclipse.ecf.remoteservices.category"
            finalPerspective="bndtools.perspective"
            class="org.bndtools.core.ui.wizards.service.NewBndTemplateBasedServiceWizard:grpc"
            icon="icons/bricks.png"
            id="org.eclipse.ecf.bndtools.grpc.ui.wizard1"
            name="gRPC Remote Service"
            preferredPerspectives="bndtools.perspective"
            project="true">
      </wizard>
      <category
            id="org.eclipse.ecf.remoteservices.category"
            name="Remote Services"
            parentCategory="bndtools.serviceWizardCategory">
      </category>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ecf.bndtools.grpc.ui.editors.Editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="proto"
            id="org.eclipse.ecf.bndtools.grpc.ui.editors.Editor"
            name="gRPC/protobuf Editor">
      </editor>
   </extension>

  <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ecf.bndtools.grpc.ui.editors.EditorPreferenceInitializer">
      </initializer>
  </extension>


</plugin>
