<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ecf.bndtools.grpc.ui.editors.Editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="proto"
            icon="icons/grpc16x16.gif"
            id="org.eclipse.ecf.bndtools.grpc.ui.editors.Editor"
            name="gRPC/proto File Editor">
      </editor>
   </extension>

  <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.ecf.bndtools.grpc.ui.editors.EditorPreferenceInitializer">
      </initializer>
  </extension>


</plugin>
