<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Grpc Provider 2020-06 Target" sequenceNumber="43">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license/1.0.1.v20140414-1359"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.examples.feature.source.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.ecf.remoteservice.sdk.feature.source.feature.group" version="0.0.0"/>
		<repository location="http://download.eclipse.org/rt/ecf/3.14.22/site.p2"/>
	</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.edit.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.edit.ui.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/2020-06"/>
</location>
	<location path="${project_loc:org.eclipse.ecf.provider.grpc.target}/lib/deps" type="Directory"/>
	<location path="${project_loc:org.eclipse.ecf.provider.grpc.target}/lib/reactive" type="Directory"/>
</locations>
</target>