<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/HealthServiceImpl"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-9"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.ethz.iks.r_osgi.remote.source"/>
        <setEntry value="ch.ethz.iks.slp.source"/>
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava.failureaccess@default:default"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.google.protobuf@default:default"/>
        <setEntry value="com.ibm.icu.source"/>
        <setEntry value="com.jcraft.jsch.source"/>
        <setEntry value="com.mycorp.examples.timeservice.async.source"/>
        <setEntry value="com.mycorp.examples.timeservice.consumer.ds.async.source"/>
        <setEntry value="com.mycorp.examples.timeservice.consumer.ds.source"/>
        <setEntry value="com.mycorp.examples.timeservice.consumer.filediscovery.rest.source"/>
        <setEntry value="com.mycorp.examples.timeservice.consumer.filediscovery.source"/>
        <setEntry value="com.mycorp.examples.timeservice.consumer.source"/>
        <setEntry value="com.mycorp.examples.timeservice.host.source"/>
        <setEntry value="com.mycorp.examples.timeservice.source"/>
        <setEntry value="com.salesforce.servicelibs.reactive-grpc-common@default:default"/>
        <setEntry value="com.salesforce.servicelibs.rxgrpc-stub@default:default"/>
        <setEntry value="com.sun.el.source"/>
        <setEntry value="io.netty.buffer@default:default"/>
        <setEntry value="io.netty.codec-http2@default:default"/>
        <setEntry value="io.netty.codec-http@default:default"/>
        <setEntry value="io.netty.codec-socks@default:default"/>
        <setEntry value="io.netty.codec@default:default"/>
        <setEntry value="io.netty.common@default:default"/>
        <setEntry value="io.netty.handler-proxy@default:default"/>
        <setEntry value="io.netty.handler@default:default"/>
        <setEntry value="io.netty.resolver@default:default"/>
        <setEntry value="io.netty.transport@default:default"/>
        <setEntry value="io.reactivex.rxjava2.rxjava@default:default"/>
        <setEntry value="javax.annotation.source"/>
        <setEntry value="javax.el.source"/>
        <setEntry value="javax.inject.source"/>
        <setEntry value="javax.servlet.jsp.source"/>
        <setEntry value="javax.servlet.source"/>
        <setEntry value="org.apache.ant.source"/>
        <setEntry value="org.apache.batik.constants.source"/>
        <setEntry value="org.apache.batik.css.source"/>
        <setEntry value="org.apache.batik.i18n.source"/>
        <setEntry value="org.apache.batik.util.source"/>
        <setEntry value="org.apache.commons.codec.source"/>
        <setEntry value="org.apache.commons.io.source"/>
        <setEntry value="org.apache.commons.jxpath.source"/>
        <setEntry value="org.apache.commons.logging.source*1.1.1.v201101211721"/>
        <setEntry value="org.apache.commons.logging.source*1.2.0.v20180409-1502"/>
        <setEntry value="org.apache.felix.gogo.command.source"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime.source"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell.source"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr.source"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.hadoop.zookeeper.source"/>
        <setEntry value="org.apache.httpcomponents.httpclient.source"/>
        <setEntry value="org.apache.httpcomponents.httpcore.source"/>
        <setEntry value="org.apache.jasper.glassfish.source"/>
        <setEntry value="org.apache.log4j.source"/>
        <setEntry value="org.apache.lucene.analyzers-common.source"/>
        <setEntry value="org.apache.lucene.analyzers-smartcn.source"/>
        <setEntry value="org.apache.lucene.core.source"/>
        <setEntry value="org.apache.xmlgraphics.source"/>
        <setEntry value="org.apiguardian.source"/>
        <setEntry value="org.eclipse.ant.core.source"/>
        <setEntry value="org.eclipse.ant.launching.source"/>
        <setEntry value="org.eclipse.ant.ui.source"/>
        <setEntry value="org.eclipse.compare.core.source"/>
        <setEntry value="org.eclipse.compare.source"/>
        <setEntry value="org.eclipse.compare.win32.source"/>
        <setEntry value="org.eclipse.core.commands.source"/>
        <setEntry value="org.eclipse.core.contenttype.source"/>
        <setEntry value="org.eclipse.core.databinding.beans.source"/>
        <setEntry value="org.eclipse.core.databinding.observable.source"/>
        <setEntry value="org.eclipse.core.databinding.property.source"/>
        <setEntry value="org.eclipse.core.databinding.source"/>
        <setEntry value="org.eclipse.core.expressions.source"/>
        <setEntry value="org.eclipse.core.externaltools.source"/>
        <setEntry value="org.eclipse.core.filebuffers.source"/>
        <setEntry value="org.eclipse.core.filesystem.source"/>
        <setEntry value="org.eclipse.core.jobs.source"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net.source"/>
        <setEntry value="org.eclipse.core.resources.source"/>
        <setEntry value="org.eclipse.core.runtime.source"/>
        <setEntry value="org.eclipse.core.variables.source"/>
        <setEntry value="org.eclipse.debug.core.source"/>
        <setEntry value="org.eclipse.debug.ui.source"/>
        <setEntry value="org.eclipse.e4.core.commands.source"/>
        <setEntry value="org.eclipse.e4.core.contexts.source"/>
        <setEntry value="org.eclipse.e4.core.di.annotations.source"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.source"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier.source"/>
        <setEntry value="org.eclipse.e4.core.di.source"/>
        <setEntry value="org.eclipse.e4.core.services.source"/>
        <setEntry value="org.eclipse.e4.emf.xpath.source"/>
        <setEntry value="org.eclipse.e4.ui.bindings.source"/>
        <setEntry value="org.eclipse.e4.ui.css.core.source"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.source"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme.source"/>
        <setEntry value="org.eclipse.e4.ui.di.source"/>
        <setEntry value="org.eclipse.e4.ui.dialogs.source"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench.source"/>
        <setEntry value="org.eclipse.e4.ui.services.source"/>
        <setEntry value="org.eclipse.e4.ui.widgets.source"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt.source"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt.source"/>
        <setEntry value="org.eclipse.e4.ui.workbench.source"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt.source"/>
        <setEntry value="org.eclipse.e4.ui.workbench3.source"/>
        <setEntry value="org.eclipse.ecf.console.source"/>
        <setEntry value="org.eclipse.ecf.console@default:default"/>
        <setEntry value="org.eclipse.ecf.discovery.source"/>
        <setEntry value="org.eclipse.ecf.discovery@default:default"/>
        <setEntry value="org.eclipse.ecf.examples.eventadmin.app.source"/>
        <setEntry value="org.eclipse.ecf.filetransfer.source"/>
        <setEntry value="org.eclipse.ecf.identity.source"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.osgi.services.distribution.source"/>
        <setEntry value="org.eclipse.ecf.osgi.services.distribution@default:default"/>
        <setEntry value="org.eclipse.ecf.osgi.services.remoteserviceadmin.console.source"/>
        <setEntry value="org.eclipse.ecf.osgi.services.remoteserviceadmin.console@default:default"/>
        <setEntry value="org.eclipse.ecf.osgi.services.remoteserviceadmin.proxy.source"/>
        <setEntry value="org.eclipse.ecf.osgi.services.remoteserviceadmin.proxy@default:default"/>
        <setEntry value="org.eclipse.ecf.osgi.services.remoteserviceadmin.source"/>
        <setEntry value="org.eclipse.ecf.osgi.services.remoteserviceadmin@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient4.source"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient4.ssl.source"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.source"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl.source"/>
        <setEntry value="org.eclipse.ecf.provider.jmdns.source"/>
        <setEntry value="org.eclipse.ecf.provider.jmdns@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.jslp.source"/>
        <setEntry value="org.eclipse.ecf.provider.r_osgi.source"/>
        <setEntry value="org.eclipse.ecf.provider.remoteservice.source"/>
        <setEntry value="org.eclipse.ecf.provider.source"/>
        <setEntry value="org.eclipse.ecf.provider.zookeeper.source"/>
        <setEntry value="org.eclipse.ecf.remoteservice.asyncproxy*2.1.2.v20191031-1433@default:default"/>
        <setEntry value="org.eclipse.ecf.remoteservice.asyncproxy.source*1.1.101.v20191024-1546"/>
        <setEntry value="org.eclipse.ecf.remoteservice.asyncproxy.source*2.1.2.v20191031-1433"/>
        <setEntry value="org.eclipse.ecf.remoteservice.eventadmin.source"/>
        <setEntry value="org.eclipse.ecf.remoteservice.rest.source"/>
        <setEntry value="org.eclipse.ecf.remoteservice.servlet.source"/>
        <setEntry value="org.eclipse.ecf.remoteservice.source"/>
        <setEntry value="org.eclipse.ecf.remoteservice@default:default"/>
        <setEntry value="org.eclipse.ecf.server.generic.source"/>
        <setEntry value="org.eclipse.ecf.server.source"/>
        <setEntry value="org.eclipse.ecf.sharedobject.source"/>
        <setEntry value="org.eclipse.ecf.source"/>
        <setEntry value="org.eclipse.ecf.ssl.source"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.common.source"/>
        <setEntry value="org.eclipse.emf.common.ui.source"/>
        <setEntry value="org.eclipse.emf.ecore.change.source"/>
        <setEntry value="org.eclipse.emf.ecore.source"/>
        <setEntry value="org.eclipse.emf.ecore.xmi.source"/>
        <setEntry value="org.eclipse.emf.edit.source"/>
        <setEntry value="org.eclipse.emf.edit.ui.source"/>
        <setEntry value="org.eclipse.equinox.app.source"/>
        <setEntry value="org.eclipse.equinox.bidi.source"/>
        <setEntry value="org.eclipse.equinox.common.source"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.concurrent.source"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.console.source"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.ds.source"/>
        <setEntry value="org.eclipse.equinox.ds@1:true"/>
        <setEntry value="org.eclipse.equinox.event.source"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox.source"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.source"/>
        <setEntry value="org.eclipse.equinox.http.jetty.source"/>
        <setEntry value="org.eclipse.equinox.http.registry.source"/>
        <setEntry value="org.eclipse.equinox.http.servlet.source"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry.source"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.source"/>
        <setEntry value="org.eclipse.equinox.launcher.source"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository.source"/>
        <setEntry value="org.eclipse.equinox.p2.console.source"/>
        <setEntry value="org.eclipse.equinox.p2.core.source"/>
        <setEntry value="org.eclipse.equinox.p2.director.app.source"/>
        <setEntry value="org.eclipse.equinox.p2.director.source"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher.source"/>
        <setEntry value="org.eclipse.equinox.p2.engine.source"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation.source"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector.source"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor.source"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository.source"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.source"/>
        <setEntry value="org.eclipse.equinox.p2.operations.source"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse.source"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.source"/>
        <setEntry value="org.eclipse.equinox.p2.reconciler.dropins.source"/>
        <setEntry value="org.eclipse.equinox.p2.repository.source"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools.source"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse.source"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.natives.source"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf.source"/>
        <setEntry value="org.eclipse.equinox.p2.ui.importexport.source"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk.scheduler.source"/>
        <setEntry value="org.eclipse.equinox.p2.ui.sdk.source"/>
        <setEntry value="org.eclipse.equinox.p2.ui.source"/>
        <setEntry value="org.eclipse.equinox.p2.updatechecker.source"/>
        <setEntry value="org.eclipse.equinox.p2.updatesite.source"/>
        <setEntry value="org.eclipse.equinox.preferences.source"/>
        <setEntry value="org.eclipse.equinox.registry.source"/>
        <setEntry value="org.eclipse.equinox.security.source"/>
        <setEntry value="org.eclipse.equinox.security.ui.source"/>
        <setEntry value="org.eclipse.equinox.security.win32.x86_64.source"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator.source"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.source"/>
        <setEntry value="org.eclipse.equinox.util.source"/>
        <setEntry value="org.eclipse.help.base.source"/>
        <setEntry value="org.eclipse.help.source"/>
        <setEntry value="org.eclipse.help.ui.source"/>
        <setEntry value="org.eclipse.help.webapp.source"/>
        <setEntry value="org.eclipse.jdt.annotation.source*1.1.200.v20171205-1334"/>
        <setEntry value="org.eclipse.jdt.annotation.source*2.2.0.v20180417-0931"/>
        <setEntry value="org.eclipse.jdt.apt.core.source"/>
        <setEntry value="org.eclipse.jdt.apt.pluggable.core.source"/>
        <setEntry value="org.eclipse.jdt.apt.ui.source"/>
        <setEntry value="org.eclipse.jdt.compiler.apt.source"/>
        <setEntry value="org.eclipse.jdt.compiler.tool.source"/>
        <setEntry value="org.eclipse.jdt.core.manipulation.source"/>
        <setEntry value="org.eclipse.jdt.core.source"/>
        <setEntry value="org.eclipse.jdt.debug.source"/>
        <setEntry value="org.eclipse.jdt.debug.ui.source"/>
        <setEntry value="org.eclipse.jdt.junit.core.source"/>
        <setEntry value="org.eclipse.jdt.junit.runtime.source"/>
        <setEntry value="org.eclipse.jdt.junit.source"/>
        <setEntry value="org.eclipse.jdt.junit4.runtime.source"/>
        <setEntry value="org.eclipse.jdt.junit5.runtime.source"/>
        <setEntry value="org.eclipse.jdt.launching.source"/>
        <setEntry value="org.eclipse.jdt.ui.source"/>
        <setEntry value="org.eclipse.jetty.continuation.source"/>
        <setEntry value="org.eclipse.jetty.http.source"/>
        <setEntry value="org.eclipse.jetty.io.source"/>
        <setEntry value="org.eclipse.jetty.security.source"/>
        <setEntry value="org.eclipse.jetty.server.source"/>
        <setEntry value="org.eclipse.jetty.servlet.source"/>
        <setEntry value="org.eclipse.jetty.util.source"/>
        <setEntry value="org.eclipse.jface.databinding.source"/>
        <setEntry value="org.eclipse.jface.source"/>
        <setEntry value="org.eclipse.jface.text.source"/>
        <setEntry value="org.eclipse.jsch.core.source"/>
        <setEntry value="org.eclipse.jsch.ui.source"/>
        <setEntry value="org.eclipse.ltk.core.refactoring.source"/>
        <setEntry value="org.eclipse.ltk.ui.refactoring.source"/>
        <setEntry value="org.eclipse.osgi.compatibility.state.source"/>
        <setEntry value="org.eclipse.osgi.services.remoteserviceadmin.source"/>
        <setEntry value="org.eclipse.osgi.services.remoteserviceadmin@default:default"/>
        <setEntry value="org.eclipse.osgi.services.source"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.source"/>
        <setEntry value="org.eclipse.osgi.util.source"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.pde.api.tools.annotations.source"/>
        <setEntry value="org.eclipse.pde.api.tools.source"/>
        <setEntry value="org.eclipse.pde.api.tools.ui.source"/>
        <setEntry value="org.eclipse.pde.build.source"/>
        <setEntry value="org.eclipse.pde.core.source"/>
        <setEntry value="org.eclipse.pde.ds.annotations.source"/>
        <setEntry value="org.eclipse.pde.ds.core.source"/>
        <setEntry value="org.eclipse.pde.ds.lib.source"/>
        <setEntry value="org.eclipse.pde.ds.ui.source"/>
        <setEntry value="org.eclipse.pde.ds1_2.lib.source"/>
        <setEntry value="org.eclipse.pde.genericeditor.extension.source"/>
        <setEntry value="org.eclipse.pde.junit.runtime.source"/>
        <setEntry value="org.eclipse.pde.launching.source"/>
        <setEntry value="org.eclipse.pde.runtime.source"/>
        <setEntry value="org.eclipse.pde.ua.core.source"/>
        <setEntry value="org.eclipse.pde.ua.ui.source"/>
        <setEntry value="org.eclipse.pde.ui.source"/>
        <setEntry value="org.eclipse.pde.ui.templates.source"/>
        <setEntry value="org.eclipse.platform.source"/>
        <setEntry value="org.eclipse.search.source"/>
        <setEntry value="org.eclipse.swt.win32.win32.x86_64.source"/>
        <setEntry value="org.eclipse.team.core.source"/>
        <setEntry value="org.eclipse.team.genericeditor.diff.extension.source"/>
        <setEntry value="org.eclipse.team.ui.source"/>
        <setEntry value="org.eclipse.text.source"/>
        <setEntry value="org.eclipse.tools.layout.spy.source"/>
        <setEntry value="org.eclipse.ui.browser.source"/>
        <setEntry value="org.eclipse.ui.cheatsheets.source"/>
        <setEntry value="org.eclipse.ui.console.source"/>
        <setEntry value="org.eclipse.ui.editors.source"/>
        <setEntry value="org.eclipse.ui.externaltools.source"/>
        <setEntry value="org.eclipse.ui.forms.source"/>
        <setEntry value="org.eclipse.ui.genericeditor.source"/>
        <setEntry value="org.eclipse.ui.ide.application.source"/>
        <setEntry value="org.eclipse.ui.ide.source"/>
        <setEntry value="org.eclipse.ui.intro.quicklinks.source"/>
        <setEntry value="org.eclipse.ui.intro.source"/>
        <setEntry value="org.eclipse.ui.intro.universal.source"/>
        <setEntry value="org.eclipse.ui.monitoring.source"/>
        <setEntry value="org.eclipse.ui.navigator.resources.source"/>
        <setEntry value="org.eclipse.ui.navigator.source"/>
        <setEntry value="org.eclipse.ui.net.source"/>
        <setEntry value="org.eclipse.ui.source"/>
        <setEntry value="org.eclipse.ui.themes.source"/>
        <setEntry value="org.eclipse.ui.trace.source"/>
        <setEntry value="org.eclipse.ui.views.log.source"/>
        <setEntry value="org.eclipse.ui.views.properties.tabbed.source"/>
        <setEntry value="org.eclipse.ui.views.source"/>
        <setEntry value="org.eclipse.ui.win32.source"/>
        <setEntry value="org.eclipse.ui.workbench.source"/>
        <setEntry value="org.eclipse.ui.workbench.texteditor.source"/>
        <setEntry value="org.eclipse.update.configurator.source"/>
        <setEntry value="org.hamcrest.core.source"/>
        <setEntry value="org.junit.jupiter.api.source"/>
        <setEntry value="org.junit.jupiter.engine.source"/>
        <setEntry value="org.junit.jupiter.migrationsupport.source"/>
        <setEntry value="org.junit.jupiter.params.source"/>
        <setEntry value="org.junit.platform.commons.source"/>
        <setEntry value="org.junit.platform.engine.source"/>
        <setEntry value="org.junit.platform.launcher.source"/>
        <setEntry value="org.junit.platform.runner.source"/>
        <setEntry value="org.junit.platform.suite.api.source"/>
        <setEntry value="org.junit.source"/>
        <setEntry value="org.junit.vintage.engine.source"/>
        <setEntry value="org.objectweb.asm.source*6.1.1.v20180414-0329"/>
        <setEntry value="org.objectweb.asm.source*7.2.0.v20191010-1910"/>
        <setEntry value="org.objectweb.asm.tree.source"/>
        <setEntry value="org.opentest4j.source"/>
        <setEntry value="org.reactivestreams.reactive-streams@default:default"/>
        <setEntry value="org.tukaani.xz.source"/>
        <setEntry value="org.w3c.css.sac.source"/>
        <setEntry value="org.w3c.dom.events.source"/>
        <setEntry value="org.w3c.dom.smil.source"/>
        <setEntry value="org.w3c.dom.svg.source"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.ecf.examples.provider.grpc.health.api@default:default"/>
        <setEntry value="org.eclipse.ecf.examples.provider.grpc.health.impl@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.grpc@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
